.git
.github
.idea
.vscode
.fleet
.zed
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
.phpactor.json
auth.json
Homestead.json
Homestead.yaml

vendor
node_modules
npm-debug.log
yarn-error.log

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/firebase/*.json
!storage/app/firebase/.gitignore
*firebase-adminsdk*.json

public/hot
public/storage
public/build

tests
phpunit.xml
docker-compose.override.yml

README.md
*.md
!docker/**
.dockerignore
Dockerfile
.editorconfig
.gitattributes
.gitignore

Thumbs.db
.DS_Store
*.log
